.party__label {
    padding: 0;
    text-decoration: underline;
}

.party-member {

    &__image {
        margin-right: 8px;
        float: left;
    }

    &__title {
        margin-bottom: 0;
        font-size: x-large;
    }
}
